* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: rgb(6, 100, 37);
  height: 90px;
}

#titulo {
  text-align: center;
  padding: 15px;
  font-size: 40px;
  color: white;
  font-family: monospace;
}

#licoes_aprendidas {
  line-height: 30px;
  margin: 50px;
  font-family: monospace;
}

#licoes_a_aprender {
  line-height: 30px;
  font-family: monospace;
}

#minha_foto {
  width: 400px;
  border-radius: 100%;
  background-color: black;
  margin-left: 10px;
  padding: 10px;
  margin-top: 50px;
}

.alinhar {
  width: 45%;
  display: inline-block;
}

.lado-esquerdo {
  width: 48%;
  display: inline-block;
  text-align: center;
  border: 8px solid rgb(6, 100, 37);
  font-family: monospace;
  background-color: rgb(194, 238, 203);
}

.lado-direito {
  width: 48%;
  display: inline-block;
  text-align: center;
  border: 8px solid rgb(6, 100, 37);
  font-family: monospace;
  background-color: rgb(194, 238, 203);
}

#rodape {
  border: 10px solid rgb(6, 100, 37);
  background-color: rgb(6, 100, 37);
  font-family: monospace;
  color: white;
}

#pagina_inicial {
  margin-top: 90px;
  font-family: monospace;
  background-color: green;
}

#pagina_inicial li {
  display: inline-block;
  padding: 10px;
}

#tabela {
  text-align: center;
  float: right;
  margin-right: 500px;
  margin-top: -300px;
  width: 600px;
  height: 200px;
  font-family: monospace;
}
